@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100% !important;
    background: #0c1317;
    color: #d1d7db;
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
	overflow: hidden;
}

html {
    height: 100%;
}

.transformOrigin {
	transform-origin: 0% 50%;
}

.bg-element {
  background-image: url('../public/background.jpg'), linear-gradient(#02314d94,#02314d94);  
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
  background-blend-mode: overlay;
}

::-webkit-scrollbar {
	width: 10px;    
	z-index: 10;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 0%;
	background: #dee0e241;
}

/* Handle on hover */


@layer components {}

@layer utilities {

	.reduce-scroll-x::-webkit-scrollbar-thumb {
		width: 6px;
	}

	.no-scrollbar::-webkit-scrollbar-thumb {
		background: transparent;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.on-scrollbar::-webkit-scrollbar-thumb {
		background: #dee0e241;
	}

	.on-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #d9e0e965;
	}

	.on-scrollbar {
		-ms-overflow-style: initial;
		scrollbar-width: auto;
	}
}

/* loader css */
.spinner-container {
	animation: rotate 2s linear infinite;
	-webkit-animation: rotate 2s linear infinite;
  }


.spinner-container .path {
stroke-dasharray: 1, 150;
/* 1%, 101% circumference */
stroke-dashoffset: 0;
stroke: #008069;
stroke-linecap: round;
animation: dash 1.5s ease-in-out infinite;
-webkit-animation: dash 1.5s ease-in-out infinite;
}

  
@keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  /* 1%, 101% circumference */
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  /* 70%, 101% circumference */
	  stroke-dashoffset: -35;
	  /* 25% circumference */
	}
	100% {
	  stroke-dasharray: 90, 150;
	  /* 70%, 101% circumference */
	  stroke-dashoffset: -124;
	  /* -99% circumference */
	}
  }
  
  @-webkit-keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @-webkit-keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  /* 1%, 101% circumference */
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  /* 70%, 101% circumference */
	  stroke-dashoffset: -35;
	  /* 25% circumference */
	}
	100% {
	  stroke-dasharray: 90, 150;
	  /* 70%, 101% circumference */
	  stroke-dashoffset: -124;
	  /* -99% circumference */
	}
  }